<!DOCTYPE html>
<html lang="en">
<head>
    <style>
        h1 { background-color:aquamarine; }

    </style>
    <meta charset="UTF-8">
    <title>About Us </title>
</head>
<body style="background-color: lightyellow" >
<h2><br>
    This page build for final project
    <br><br>
    Built with programming languages
    <br><br>
    Python,
    <br><br>
    Django,
    <br><br>
    Html,
    <br><br>
    Css
    <br><br>
    
    Have Good Time

</h2>
<br><br>
<button type="submit"> <a href="{% url 'home' %}">Back</a>  </button>



<style>

button{
 background-color:#008CBA;
 color:#fff;
 padding:10px;
 border:2px solid black;
 cursor: pointer;
}

</style

</body>
</html>