<!DOCTYPE html>
<html lang="en">
<head>
     <style>
        h1 { background-color:aquamarine; }
        h3 { color:red; }
    </style>
    <meta charset="UTF-8">
    <title>Add Monitor Comment </title>
</head>
   
<body style="background-color: lightyellow">
<form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <br><br>
    <button type="submit"> Add Comment </button>
    <br><br>
    
    
</form>
<br><br>

<button type="submit"> <a href="{% url 'detail_monitor' monitor.id %}"> Back </a> </button>





<style>
 
button{
 background-color:#008CBA;
 color:#fff;
 padding:10px;
 border:2px solid black;
 cursor: pointer;
}
 
</style


</body>
</html>