<!DOCTYPE html>
<html lang="en">
<head>
    <style>
        h2 { color:red; }
    </style>
    <meta charset="UTF-8">
    <title>Error 404</title>
</head>
<body style="background-color: lightyellow">
<h2>
    <br><br>

    This page is not found
    <br><br><br>
    Please try again
</h2>
<br><br>

<button type="submit"> <a href="{% url 'home' %}"> Go To Home </a> </button>



<style>

button{
 background-color:#008CBA;
 color:#fff;
 padding:10px;
 border:2px solid black;
 cursor: pointer;
}

</style>
</body>
</html>